@import "https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css";

:root {
--sticker-picker-height: 300px;
--sticker-picker-width: 450px;
--sticker-max-width:  calc((var(--sticker-picker-width) / 2) - 5px);
}

body {
  font-family: monospace;
  font-size: 250%;
}

/* ------------------------------------ */
/* COMBINED CHAT + VIDEO MODE (DEFAULT) */
/* ------------------------------------ */
@media screen and (min-device-width: 900px) and (min-width: 900px) {
  body {
    font-size: 125%;
  }

  body.combined main {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
}

.skiplink {
  position: absolute;
  top: -6666px;
  left: -6666px;
}

main {
  height: 100vh;
}

.combined main,
.chat-only main {
  align-items: stretch;
  display: flex;
  flex-direction: column;
}

@media screen and (min-device-width: 900px) and (min-width: 900px) {
  main {
    flex-direction: row;
    height: 100vh;
  }

  /* hide the vestigial scrollbar on the main page */
  .combined main {
    overflow-y: hidden;
  }

  .stream {
    /* `display: flex` plus 100vh on <main> lets the video element stretch
   vertically */
    display: flex;
    height: 100vh;
    width: 100%;
  }
}

header {
  hyphens: auto;
  overflow-wrap: anywhere;
  text-align: center;
}

/* on desktop, pin the license notice to the bottom of the sidebar */
@media screen and (min-device-width: 900px) and (min-width: 900px) {
  .login {
    display: grid;
  }

  footer {
    align-self: end;
  }
}

.login {
  max-height: 100vh;
  overflow-y: scroll;
}

.chat-meta * {
  margin: 0;
}

.chat {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  width: 100%;
  max-height: 100vh;
}

.live {
  color: red;
}

.chat nav {
  text-align: center;
}

.chat nav ul {
  padding: 0;
}

.chat nav li {
  display: inline;
}

.chat nav li:not(:first-child)::before {
  content: " // ";
}

.chat-controls summary {
  text-align: center;
}

.chat-controls ul {
  list-style: none outside none;
  margin: 0;
}

/*hide deleted chat messages that follow another deleted message.*/
.deleted + .deleted {
	display: none;
}

/* login and signup */
form {
  display: block;
}

/* only display the connection status when there's a problem */
.chat-connected {
  display: none;
}

.chat-disconnected {
  color: red;
  display: block;
  text-align: center;
}

/* message log */
#log {
  border: 1px solid black;
  flex-basis: 100px;
  flex-grow: 5;
  hyphens: auto;
  overflow-wrap: anywhere;
  overflow-y: scroll;
}

#log a {
  word-break: break-all;
  word-wrap: break-word;
}

#log time {
  font-size: 75%;
}

code {
  font-family: monospace;
  background: rgb(60, 60, 60);
}

.lights code {
  font-family: monospace;
  background: rgb(230, 230, 230);
}

#log-pixel {
  height: 1px;
  width: 1px;
  padding: 0px;
  margin: 0px;
}


#scroll-status {
    font-weight: bold;

    position: absolute;
    bottom: 50px;
    right: 25px;

    align-content: center;
    padding: 10px;
    border-radius: 10px;
    border-color: red;
    border-style: solid;
    border-width: 2px;

    background-color: lightgrey;
    display: none;
}

.scroll-pause #scroll-status {
    display: block;
}

/* text input and send button */
#chatform {
  display: flex;
  padding-top: 5px;
}

#text {
  flex: 4;
  height: 30px;
}

#emoji-trigger {
  padding: 10px 5px;
  text-decoration: none;
}

/* make sure it's above the video elements */
.emoji-picker__wrapper {
  z-index: 9999999;
}

img.emoji {
  height: 1.5em;
  width: auto;
  vertical-align: middle;
}

img.bigmoji {
  height: 4.5em;
  max-width: 100%; /* fixes wide custom emoji making the chat ridiculously wide, at the cost of squashing them.*/
}
  img.sticker {
      max-height: 8em;
      max-width: 50%;
  }
  .small-stickers img.sticker {
      max-height: 4.5em;
      max-width: 100%;
  }

@media screen and (min-device-width: 900px) and (min-width: 900px) {
  img.sticker {
    max-height: 16em;
    max-width: 100%;
  }

  .small-stickers img.sticker {
    max-height: 4.5em;
    max-width: 100%;
  }
}

#send {
  flex: 1;
  height: 34px;
  margin-top: 2px;
  margin-bottom: 2px;
}
.stealthy {
  position: absolute;
  visibility: hidden;
}
/* combined <timestamp, username, message> */
.chat-message {
  margin: 0;
}

.chat-timestamp {
  color: gray;
}

#log.hide-timestamps .chat-timestamp {
  display: none;
}

.chat-username {
  font-weight: bold;
}

.flash {
  color: white;
  text-align: center;
}

.flash ul {
  list-style: none;
  padding: 0;
}

.flash li {
  display: inline;
}

.error {
  background-color: red;
}

.warning {
  background-color: purple;
}

.info {
  background-color: navy;
}

div.profile + div.profile {
  border-top: 5px solid black;
  margin-top: 10px;
}

img.poster {
  max-width: 50%;
}

@media screen and (min-device-width: 900px) and (min-width: 900px) {
  .sticker-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.sticker-item {
  max-width: 300px
}

.sticker-item img {
  max-height: 5em;
  width: auto;
  max-width: 100%;
}

.sticker-item + .sticker-item {
  border-left: 3px solid black;
  margin-left: 5px;
  padding-left: 5px;
}

input[name=new_name] {
  max-width: 100px;
}

/* ------------------------------------ */
/* PICKER                               */
/* ------------------------------------ */




.name {
    max-width: 90px;
}

#picker {
  height: var(--sticker-picker-height);
  width: var(--sticker-picker-width);
  border: 1px grey solid;
  z-index: 2;
  position: relative;
  bottom: calc(var(--sticker-picker-height) + 25px);
  right: -5px;
  display: flex;
  flex-direction: column;
}

#search-input {
  width: 100%;
}

details#picker-parent {
  height: 20px;
}
.pack {
  height: 100%;
  display: none;
  flex-direction: column;
}
.stickers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
}
.virtual-packs {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: auto;
}
.virtual-stickers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
#pack-list  {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: auto;
}

.pack img {
  max-height: 75px;
  max-width: var(--sticker-max-width);
  padding: 2px;
}
